<p-toolbar styleClass="p-mb-4">
  <div style="font-size: 1.5rem; font-weight: bold; color: #333">
    DAPP02Practica04
  </div>
</p-toolbar>
<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Eliminar"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedEmpleados()"
        [disabled]="!selectedEmpleado.length"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="empleados"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'direccion', 'telefono']"
    [(selection)]="selectedEmpleado"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    class="p-datatable-customers"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Gestionar Empleados</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event)"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="nombre">
          Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="direccion">
          Dirección <p-sortIcon field="direccion"></p-sortIcon>
        </th>
        <th pSortableColumn="telefono">
          Teléfono <p-sortIcon field="telefono"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empleado>
      <tr>
        <td>
          <p-tableCheckbox [value]="empleado"></p-tableCheckbox>
        </td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.direccion }}</td>
        <td>{{ empleado.telefono }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editEmpleado(empleado)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteEmpleado(empleado)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay {{ empleados ? empleados.length : 0 }} Empleados.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="empleadoDialog"
  [style]="{ width: '450px' }"
  header="Detalles empleado"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        pInputText
        id="nombre"
        [(ngModel)]="empleado.nombre"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.nombre"
        >El nombre es obligatorio.</small
      >
    </div>
    <div class="p-field">
      <label for="direccion">Dirección</label>
      <input
        type="text"
        pInputText
        id="direccion"
        [(ngModel)]="empleado.direccion"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.direccion"
        >La dirección es obligatoria.</small
      >
    </div>
    <div class="p-field">
      <label for="telefono">Teléfono</label>
      <input
        type="text"
        pInputText
        id="direccion"
        [(ngModel)]="empleado.telefono"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.telefono"
        >El teléfono es obligatorio.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveEmpleado()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
